p, li, h1, h2, h3, h4 {
    color: white;
    font-family: monospace;
    text-align: center; /* Correct property for centering text */
}
a:link {
    color: white;
}
a:visited {
    color: white;
}

body {
    background-image: url("PrairieWind.png");
    background-repeat: repeat;
    text-align: center; /* Center the text in the body by default */
}

html {
    margin: 1%;
    text-align: center; /* Center the text in the html element */
}

/* Example for h1 heading with background */
h1 {
    display: inline-block;
    background-color: rgba(0, 0, 0, 1); /* Use an appropriate color for the background */
    padding: 10px; /* Add some padding to create space between text and background */
    text-align: center;
}
  
/* Example for paragraphs (p) with background */
p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 1); /* Use an appropriate color for the background */
    padding: 5px; /* Add some padding to create space between text and background */
    text-align: center;
}

.background-heading {
    background-color: rgba(0, 0, 0, 1);
    padding: 10px;
    text-align: center;
}
  
.background-paragraph {
    background-color: rgba(0, 0, 0, 1);
    padding: 5px;
    text-align: center;
}
