p, li, h1, h2, h3, h4 {
    color: white;
    font-family: monospace;
    text-align: center;
    display: inline-block; /* Make the element fit its content */
    background-color: black; /* Set the background color to black */
    padding: 10px; /* Add some padding for spacing */
    margin: 10px; /* Add margin for spacing between elements */
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

body {
    background-image: url("PrairieWind.png");
    background-repeat: repeat;
    text-align: center;
}

html {
    margin: 1%;
    text-align: center;
}

/* Example for h1 heading with background */
h1 {
    background-color: black; /* Set the background color to black */
    padding: 10px; /* Add some padding for spacing */
    margin: 10px; /* Add margin for spacing between elements */
    text-align: center;
}
  
/* Example for paragraphs (p) with background */
p {
    background-color: black; /* Set the background color to black */
    padding: 10px; /* Add some padding for spacing */
    margin: 10px; /* Add margin for spacing between elements */
    text-align: center;
}

.background-heading {
    background-color: black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
  
.background-paragraph {
    background-color: black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
